* {
    margin: 0;
    padding: 0;
}

body {
    background-color: yellow;
}

.colorgraph {
    height: 0.5em;
    align-content: center;
    border-top: 0;
    border-radius: 5px;
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

img {
    width: 25%;
}

.contentHeader h1 {
    font-family: 'Pacifico', cursive;
    font-size: 55px;
    text-align: center;
    color: #008F99;
    font-weight: 500;
}

.contentHeader p {
    text-align: center;
    font-family: arial;
    color: #666;
}

.content {
    width: 50%;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #008F99;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;
    box-shadow: 3px 3px 7px 1px #333;
}

.nOffsetStyle {
    width: 40px;
    height: 30px;
}

.contentOffset {
    margin-top: 10px;
}

.label {
    font-size: 16px;
    font-family: arial;
    color: #666;
}

.indication {
    font-size: 14px;
}

.linkCode {
    width: 100%;
    font-size: 22px;
    font-family: arial;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    margin-top: 25px;
}

.linkCode a {
    text-decoration: none;
    text-align: center;
    color: #666666;
    margin-left: 10px;
    margin-right: 10px;
}

.linkCode a:hover {
    border-bottom: 2px solid #008F99;
    color: #008F99;
    padding-bottom: 5px;
    transition: 0.3s;
}

.linkActive {
    border-bottom: 2px solid #008F99;
    color: #008F99 !important;
    padding-bottom: 5px;
}

.txtStyle {
    margin-top: 20px;
}

.txtStyle p {
    font-family: arial;
    color: #333333;
    margin-bottom: 10px;
}

.txtStyle {
    width : 300px;
    height: 30px;
    resize: none;
    outline: 0px;
}

.btnCode {
    border: 0px;
    width: 170px;
    height: 30px;
    background-color: #008F99;
    border-radius: 5px;
    margin-top: 10px;
    color: #fff;
    font-size: 15px;
    box-shadow: 3px 3px 7px 1px #898989;
    cursor: pointer;
    transition: 0.4s;
}

.btnCode:hover {
    background-color: #FFC107;
}

.btnCode:focus {
    outline: 0px;
}

.btnReload {
    border: 0px;
    width: 170px;
    height: 30px;
    background-color: #008F99;
    border-radius: 5px;
    margin-top: 15px;
    color: #fff;
    font-size: 15px;
    box-shadow: 3px 3px 7px 1px #898989;
    cursor: pointer;
    transition: 0.4s;
}

.btnReload:hover {
    background-color: #FFC107;
}

.btnReload:focus {
    outline: 0px;
}

.encode {
    background-color: #DADADA;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 2px 2px 10px 1px #898989;
}

.decode {
    background-color: #DADADA;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 2px 2px 10px 1px #898989;
    
}

.style p {
    color: gainsboro;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}